////////////////////////////////////////////////////////////////////////////////
//
//  EXPANZ
//  Copyright 2008-2011 EXPANZ
//  All Rights Reserved.
//
//  NOTICE: Expanz permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////

#import <expanziOS/expanz_ui_ActivityInstanceViewController.h>

@interface {{controllerClassName}} : expanz_ui_ActivityInstanceViewController

/* ===================================================== Fields ===================================================== */
{{#schema.displayableFields}}
@property(nonatomic, weak) IBOutlet UIView* {{name}};
{{/schema.displayableFields}}

/* ===================================================== Labels ===================================================== */
{{#schema.displayableFields}}
@property(nonatomic, weak) IBOutlet UILabel* {{name}}Label;
{{/schema.displayableFields}}

/* ==================================================== Queries ===================================================== */
{{#schema.queries}}
@property(nonatomic, weak) IBOutlet UITableView* {{queryId}}TableView;
{{/schema.queries}}


/* ===================================================== Methods ==================================================== */
{{#schema.methods}}
- (IBAction) model{{name}};
{{/schema.methods}}


@end

