<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>processSteps</key>
	<array>
		<dict>
			<key>stepName</key>
			<string>Project Location</string>
		</dict>
		<dict>
			<key>stepName</key>
			<string>expanz Settings</string>
		</dict>
		<dict>
			<key>stepName</key>
			<string>Activities</string>
		</dict>
	</array>
</dict>
</plist>